@import url("../stylesheets/header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #e0e1dd;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #e0e0e0;
  padding: 5px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.list-header {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.list-controls {
  margin-top: 10px;
}

.add-btn,
.remove-btn {
  background-color: #8bc34a;
  border: none;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  border-radius: 50%;
  margin: 4px 2px;
  height: 60px;
  width: 60px;
  display: inline;
  line-height: 15px;
}

.remove-btn {
  background-color: #e57373;
}

.lists {
  list-style-type: none;
  width: 100%;
}

.list-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.list-item.active {
  background-color: #b3e5fc;
}

.list-item:hover {
  background-color: #b3e5fc;
}

/* Main Content */

.container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  background-color: e0e1dd;
  padding: 5px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.stock-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stock-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  background-color: #8bc34a;
}

.stock-item.down {
  background-color: #dce775;
}

.arrow {
  font-size: 24px;
}

.up-arrow {
  color: rgb(0, 79, 0);
}

.down-arrow {
  color: rgb(138, 132, 0);
}

/* responsive layout - when the screen is less than 768px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    margin: 0;
    flex-grow: 1;
  }
}
