
.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: 5%;
  flex-grow: 10%;
 
  
  

  
}

.box-card {
  width:100%;
  height: 700px;
  margin: 10px;
  align-items: center;
  border: 1px solid #000; 
  border-radius: 10px;
  background-color:rgb(148, 157, 136);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  flex-grow: 100%;
 
 
  
 
}