footer {
    background-color: #9fb3cc;
    text-align: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1px;
    margin-bottom: 0;
}

.footer-content {
    background-color: #9fb3cc;
    margin: 5px;
}

.logo-text {
    font-size: 20px;
    color: #ffffff;
    margin-top: 5px;
}

.keep{
    color : #ffffff;
}