* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: #e0e1dd;
}

/* Main content for login form */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: fit-content;
    width: 500px; /* Adjust the width to your preference */
    margin-bottom: 100px;
}

@media screen and (max-width: 870px) {
    .login-container {
        width: 90%; /* Adjust the width to your preference */
    }
    
}

/* Centering text and form */
.login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional, centers form fields horizontally */
}

.input-field {
    width: 100%; /* Make sure the input fields take full width */
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #bcd7e4;
    outline: none;
}

.signin-btn {
    background-color: #8fc090;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.signin-btn:hover {
    box-shadow: 0 0 10px #8fc090;
}

.new-user {
    margin-top: 20px;
    font-size: 14px;
}

.new-user a {
    color: #2d702e;
    text-decoration: none;
}

.new-user a:hover {
    text-decoration: underline;
}