* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: #e0e1dd;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Basic container styling */
.stocks-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: fit-content;
    width: 600px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

.stock-form {
    display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 60%;
  border: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #bcd7e4;
  outline: none;
}

.add-btn {
  background-color: #8fc090;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.add-btn:hover {
  box-shadow: 0 0 10px #40a142;
}

.view-btn {
    background-color: #0056b3;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #8fc090;
  color: white;
}

.remove-stock {
    background-color: rgb(255, 54, 54);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.remove-stock:hover {
    background-color: #ff0000;
}

ul {
    list-style-type: none;
}

.view-btn:hover {
    background-color: #0056b3;
}

p {
    color: rgb(0, 0, 0);
}