

.aapl {
   height: 50%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4 10px rgba(0, 0, 0, 0.378);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Meta {
    height: 50%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4 10px rgba(0, 0, 0, 0.378);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

}

.NVDA {
    height: 50%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4 10px rgba(0, 0, 0, 0.378);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

}

.NVDA:hover {
    box-shadow: 0 0 10px 5px #78879a; /* White glowing effect */
}

.aapl:hover {
    box-shadow: 0 0 10px 5px #78879a; /* White glowing effect */
}

.Meta:hover {
    box-shadow: 0 0 10px 5px #78879a; /* White glowing effect */
}